
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'sidebar';
@import 'footer';

@import 'packages';

@import 'brands';

.code {
    padding: 10px;
    font-family: monospace;
    background: #eaeaea;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: pre;
}

.avatar-xl {
    width: 160px;
    height: 160px;
}

.avatar {
    width: 90px;
    height: 90px;
}

.avatar-sm {
    width: 40px;
    height: 40px;
}


.auth-panel {

    @include media-breakpoint-up(xs) {
        & {
            margin-top: 80px;
        }
    }

    @include media-breakpoint-down(xs) {
        & {
            margin-top: 15px;
        }
    }


}
