/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar-wrapper {
    display: flex;
    align-items: stretch;

    /* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
    .content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    .sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #373737;
        color: #fff;
        transition: all 0.3s;
    }

    .sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;

        .sidebar-header strong {
            display: block;
        }

        .sidebar-header h3 {
            display: none;
        }

        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }

        ul li a {
            padding: 20px 10px;
            text-align: center;
            font-size: 0.85em;
        }

        ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

        ul ul a {
            padding: 10px !important;
        }
    }

    ul li a {
        text-align: left;
        color: $white;
        text-decoration: none;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: $conan-blue;
    }

    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }

    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    ul li a:hover {
        color: $conan-blue;
        background: #fff;
    }

    ul li a i {
        margin-right: 10px;
    }

    ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: $conan-blue;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: map-get($grid-breakpoints, md)) {
    .sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;

        &.active {
            margin-left: 0 !important;
        }

        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }

        .sidebar-header h3 {
            display: none;
        }
        .sidebar-header strong {
            display: block;
        }

        ul li a {
            padding: 20px 10px;
        }
        ul li a span {
            font-size: 0.85em;
        }
        ul li a i {
            margin-right: 0;
            display: block;
        }
        ul ul a {
            padding: 10px !important;
        }
        ul li a i {
            font-size: 1.3em;
        }
    }

    .sidebarCollapse span {
        display: none;
    }
}
