<template>
    <div class="avatar-image-input">
        <input type="file" :name="name" id="file" accept="image/*" class="inputfile" v-if="inputEnabled"
               @change="onFileChange($event)" />
        <label for="file">
            <img src="https://picsum.photos/200" :src="image" alt="">
            <div class="overlay" v-if="!isChanged"><i class="fas fa-pencil-alt fa-2x"></i></div>
        </label>
        <button type="button" v-if="isChanged" class="overlay" @click="clear"><i class="fas fa-trash-alt fa-2x text-danger"></i></button>
    </div>
</template>

<style lang="scss">
    .avatar-image-input {
        position: relative;

        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .overlay {
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .overlay:hover {
            opacity: 1;
        }

        label, img, .overlay {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        .inputfile + label {
            cursor: pointer;
            font-size: 1.25em;
            font-weight: 700;
            color: white;
            background-color: transparent;
            display:table;
        }

        .inputfile:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
</style>

<script>
    export default {
        props: [
            'src',
            'name'
        ],
        data() {
            return {
                image: this.src,
                isChanged: false,
                inputEnabled: true
            }
        },
        methods: {
            clear() {
                this.image = this.src;
                this.inputEnabled = false;
                this.$nextTick(() => {
                    this.inputEnabled = true;

                    this.isChanged = false;
                })
            },
            onFileChange(event) {
                var files = event.target.files || event.dataTransfer.files;

                if (files.length < 1)
                    return;

                var reader = new FileReader();

                reader.onload = (e) => {
                    this.isChanged = true;
                    this.image = e.target.result;
                };
                reader.readAsDataURL(files[0]);
            }
        }
    }
</script>
