<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="post" :action="action">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" :value="csrf">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation required</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        You are going to remove <b>{{ name }}</b> package. Removed package CANNOT be
                        restored! Are you ABSOLUTELY sure?
                    </p>
                    <p>
                        This action can lead to data loss. To prevent accidental actions we ask you to confirm your
                        intention.<br>
                        Please type <code>{{ name }}</code> to proceed or close this modal to cancel.
                    </p>
                    <input v-model="input" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" :disabled="input !== name">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true
            },
            action: String
        },
        data() {
            return {
                input: ''
            }
        },
        computed: {
            csrf: function () {
                return window.csrfToken;
            }
        }
    }
</script>
