<template>
    <div class="search-input">
        <input type="text" class="form-control" :id="id" placeholder="Search for members to update or invite"
               @input="search($event.target.value)" @focus="showList = true" autocomplete="off">
        <!-- result list -->
        <div v-if="showList" class="results list-group mt-1">
            <button type="button" class="media list-group-item list-group-item-action d-flex" v-for="(user, index) in users" v-if="!searching"
                @click="select(index)">
                <img class="mr-3 avatar-sm" :src="user.avatar_url" alt="">
                <div class="media-body">
                    {{ user.name }}
                </div>
            </button>
            <div class="list-group-item" v-if="searching">
                Searching...
            </div>
            <div class="list-group-item" v-if="users.length === 0 && !searching">
                No matches found
            </div>
        </div>

        <ul class="d-flex flex-wrap flex-row list-unstyled choice-list" v-if="Object.keys(selected).length">
            <li class="choice" v-for="user in selected">
                {{ user.name }}
                <button type="button" class="close" aria-label="Remove" @click="unselect(user.id)"><span aria-hidden="true">&times;</span></button>
                <input type="hidden" name="user_ids[]" :value="user.id">
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data: function () {
            return {
                showList: false,
                searching: false,
                users: [],
                selected: {}
            }
        },
        methods: {
            search(q) {
                if(q.length !== 0) {
                    this.searching = true;
                    this.showList = true;
                    axios.get('/api/search/users', {
                        params: {
                            q
                        }
                    }).then((response) => {
                        this.users = response.data.data;
                        this.searching = false;
                    }).catch(function (error) {
                        console.log(error);
                    })
                } else {
                    this.showList = false;
                }
            },
            select(idx) {
                var user = this.users[idx];
                Vue.set(this.selected, user.id, user);
                this.showList = false;
            },
            unselect(id) {
                Vue.delete(this.selected, id);
            }
        }
    }
</script>

<style lang="scss">
    .search-input {
        .choice-list {
            margin-top: 1rem;
            margin-bottom: 0;
        }

        .choice {
            padding: 6px 12px;
            border-radius: 3px;
            border: 1px solid #e5e5e5;
            color: #2e2e2e;

            .close {
                margin-left: 8px;
            }
        }

        .results {
            position: absolute;
            width: 100%;
            max-height: 350px;
        }

    }
</style>
