<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
    <div>
        <div>
            <div>
                <h5>Add a personal access token</h5>
                <p>Pick a name for the application, and we'll give you a unique personal access token.</p>
                <!-- Create Token Form -->
                <form role="form" @submit.prevent="store">
                    <!-- Form Errors -->
                    <div class="alert alert-danger" v-if="form.errors.length > 0">
                        <h4><strong>The form contains the following error:</strong></h4>
                        <ul class="mb-0">
                            <li v-for="error in form.errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                        <label for="create-token-name"><b>Name</b></label>
                        <input id="create-token-name" type="text" class="form-control" name="name" v-model="form.name" required>
                    </div>

                    <!-- Scopes -->
                    <div class="form-group" v-if="scopes.length > 0">
                        <label><b>Scopes</b></label>
                        <div class="form-check form-group" v-for="scope in scopes">
                            <input class="form-check-input" type="checkbox" :id="'scope-' + scope.id" @click="toggleScope(scope.id)"
                                   :checked="scopeIsAssigned(scope.id)">
                            <label class="form-check-label" :for="'scope-' + scope.id">
                                <b>{{ scope.id }}</b>
                            </label>
                            <span class="form-text text-muted mt-0">
                                {{ scope.description }}
                            </span>
                        </div>
                    </div>

                    <input value="Create personal access token" class="btn btn-success" type="submit">
                </form>
                <hr>
                <h5>Active Personal Access Tokens ({{ tokens.length }})</h5>
                <!-- No Tokens Notice -->
                <p class="mb-0" v-if="tokens.length === 0">
                    You have not created any personal access tokens.
                </p>

                <!-- Personal Access Tokens -->
                <table class="table mb-0" v-if="tokens.length > 0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created at</th>
                            <th>Scopes</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="token in tokens">
                            <!-- Client Name -->
                            <td class="align-middle">
                                {{ token.name }}
                            </td>

                            <td class="align-middle">
                                {{ token.created_at }}
                            </td>

                            <td class="align-middle">
                                {{ getScopeString(token) }}
                            </td>

                            <!-- Delete Button -->
                            <td class="align-middle d-flex">
                                <button class="ml-auto btn btn-danger" @click="revoke(token)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Access Token Modal -->
        <div class="modal fade" id="modal-access-token" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Personal Access Token
                        </h4>

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p>
                            Here is your new personal access token. This is the only time it will be shown so don't lose it!
                            You may now use this token to make API requests.
                        </p>

                        <textarea class="form-control" rows="10">{{ accessToken }}</textarea>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                accessToken: null,

                tokens: [],
                scopes: [],

                form: {
                    name: '',
                    scopes: [],
                    errors: []
                }
            };
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component.
             */
            prepareComponent() {
                this.getTokens();
                this.getScopes();
            },

            /**
             * Get all of the personal access tokens for the user.
             */
            getTokens() {
                axios.get('/oauth/personal-access-tokens')
                        .then(response => {
                            this.tokens = response.data;
                        });
            },

            /**
             * Get all of the available scopes.
             */
            getScopes() {
                axios.get('/oauth/scopes')
                        .then(response => {
                            this.scopes = response.data;
                        });
            },

            /**
             * Show the form for creating new tokens.
             */
            showCreateTokenForm() {
                $('#modal-create-token').modal('show');
            },

            /**
             * Create a new personal access token.
             */
            store() {
                this.accessToken = null;

                this.form.errors = [];

                axios.post('/oauth/personal-access-tokens', this.form)
                        .then(response => {
                            this.form.name = '';
                            this.form.scopes = [];
                            this.form.errors = [];

                            this.tokens.push(response.data.token);

                            this.showAccessToken(response.data.accessToken);
                        })
                        .catch(error => {
                            if (typeof error.response.data === 'object') {
                                this.form.errors = _.flatten(_.toArray(error.response.data.errors));
                            } else {
                                this.form.errors = ['Something went wrong. Please try again.'];
                            }
                        });
            },

            /**
             * Toggle the given scope in the list of assigned scopes.
             */
            toggleScope(scope) {
                if (this.scopeIsAssigned(scope)) {
                    this.form.scopes = _.reject(this.form.scopes, s => s === scope);
                } else {
                    this.form.scopes.push(scope);
                }
            },

            /**
             * Determine if the given scope has been assigned to the token.
             */
            scopeIsAssigned(scope) {
                return _.indexOf(this.form.scopes, scope) >= 0;
            },

            /**
             * Show the given access token to the user.
             */
            showAccessToken(accessToken) {
                $('#modal-create-token').modal('hide');

                this.accessToken = accessToken;

                $('#modal-access-token').modal('show');
            },

            /**
             * Revoke the given token.
             */
            revoke(token) {
                axios.delete('/oauth/personal-access-tokens/' + token.id)
                        .then(response => {
                            this.getTokens();
                        });
            },

            getScopeString(token) {
                if(token.scopes.length > 0) {
                    return token.scopes.join(', ');
                }
                return 'all'
            }
        }
    }
</script>
