<template>
    <div @click="folded = !folded" class="node">
        <i class="expander fas" :class="[folded ? 'fa-chevron-right' : 'fa-chevron-down']"></i>
        aa
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                folded: true
            }
        }
    }
</script>

<style lang="scss">
.node {
    height: 30px;

    .expander {
        min-width: 26px;
    }
}
</style>
