<template>
    <ul>
        <node></node>
    </ul>
</template>

<script>
    import Node from './TreeViewNode'

    export default {
        components: {
            Node
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
